.columns.is-vcentered {
  align-items: center; }

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center; }

.profilePic img {
  object-fit: cover;
  display: block;
  height: 16em;
  width: fit-content;
  max-width: 100%;
  max-height: 100%; }

@media screen and (min-width: 768px) {
  .column.is-one-quarter, .column.is-one-quarter-tablet {
    flex: none;
    width: 25%; } }
