* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Merriweather", serif; }

html, body {
  overflow-x: hidden; }

html {
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  background: white;
  color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px;
  font-weight: bold; }

img {
  width: 30px;
  height: 30px; }

hr {
  background-color: #f5f5f5;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

p {
  font-family: "Merriweather", serif; }

footer {
  background-color: #f5f5f5;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  margin-top: 40px;
  display: block; }

.content {
  margin: 0 auto;
  position: relative;
  width: auto; }

.content-footer {
  padding: 3rem 1.5rem 6rem;
  display: block; }

.container-footer {
  margin: 0 auto;
  position: relative;
  width: auto;
  text-align: center !important;
  font-size: .75rem !important; }

.wrap {
  min-height: 100%;
  position: relative; }

.spacer {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; }

html a {
  text-decoration: none; }

main a {
  color: inherit;
  text-decoration: inherit;
  background: linear-gradient(to right, orange, orange), linear-gradient(to right, red, #ff00b4, #0064c8);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms; }

main a:hover {
  color: inherit;
  text-decoration: inherit;
  background-size: 0 3px, 100% 3px; }

@media screen and (min-width: 1200px) {
  .content {
    max-width: 1152px; } }

@media screen and (min-width: 1400px) {
  .content {
    max-width: 1344px; } }
