* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Merriweather", serif; }

html, body {
  overflow-x: hidden; }

html {
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  background: white;
  color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px;
  font-weight: bold; }

img {
  width: 30px;
  height: 30px; }

hr {
  background-color: #f5f5f5;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

p {
  font-family: "Merriweather", serif; }

footer {
  background-color: #f5f5f5;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  margin-top: 40px;
  display: block; }

.content {
  margin: 0 auto;
  position: relative;
  width: auto; }

.content-footer {
  padding: 3rem 1.5rem 6rem;
  display: block; }

.container-footer {
  margin: 0 auto;
  position: relative;
  width: auto;
  text-align: center !important;
  font-size: .75rem !important; }

.wrap {
  min-height: 100%;
  position: relative; }

.spacer {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; }

html a {
  text-decoration: none; }

main a {
  color: inherit;
  text-decoration: inherit;
  background: linear-gradient(to right, orange, orange), linear-gradient(to right, red, #ff00b4, #0064c8);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms; }

main a:hover {
  color: inherit;
  text-decoration: inherit;
  background-size: 0 3px, 100% 3px; }

@media screen and (min-width: 1200px) {
  .content {
    max-width: 1152px; } }

@media screen and (min-width: 1400px) {
  .content {
    max-width: 1344px; } }

nav {
  padding: 10px 5%; }

.nav-groups, .nav-group {
  display: flex;
  flex-direction: column; }

.nav-item {
  display: block;
  padding-top: 10px; }

.nav-toggle {
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer;
  color: #818a91;
  font-size: 130%;
  font-family: "Fira Sans", sans-serif; }

.nav-collapsed {
  max-height: 0; }

.nav-expanded {
  max-height: 140px; }

.nav-group {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding: 0;
  text-align: right;
  margin-left: 0; }

nav a {
  text-decoration: none;
  color: #818a91;
  font-size: 130%;
  font-family: "Fira Sans", sans-serif; }

.nav-brand {
  font-family: "Handlee", serif;
  text-transform: lowercase;
  font-weight: bold;
  color: black; }

@media screen and (min-width: 768px) {
  .nav-groups {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    flex-direction: row; }
  .nav-brand {
    font-size: 140%; }
  .nav-item:not(:last-child) {
    padding-right: 30px; }
  .nav-toggle {
    display: none; }
  .nav-group {
    overflow: initial;
    text-align: initial;
    margin-left: auto; }
  .nav-groups, .nav-group {
    flex-direction: row; }
  nav {
    padding: 0px 2%; } }

main {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center; }

.content h1 {
  font-size: 1.6rem;
  font-family: "Fira Sans", sans-serif;
  color: #363636;
  line-height: 1.125;
  margin-bottom: .3125rem; }

.content h4 {
  color: #363636;
  font-size: 1.35em;
  margin-top: 30px;
  margin-bottom: .8em; }

.content p {
  font-size: .9em; }

.content h2 {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: .3125rem;
  font-family: "Fira Sans", sans-serif; }

@media screen and (min-width: 1200px) {
  .content {
    max-width: 1152px; } }

@media screen and (min-width: 1400px) {
  .content {
    max-width: 1344px; } }

.columns.is-vcentered {
  align-items: center; }

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center; }

.profilePic img {
  object-fit: cover;
  display: block;
  height: 16em;
  width: fit-content;
  max-width: 100%;
  max-height: 100%; }

@media screen and (min-width: 768px) {
  .column.is-one-quarter, .column.is-one-quarter-tablet {
    flex: none;
    width: 25%; } }

.content h3 {
  font-size: 1.4rem; }

.content {
  font-family: "Merriweather", serif; }

ul {
  font-size: 0.9em; }

#experience, #technical-skills, #projects, #other-interests {
  margin-top: 3.5rem; }
